#homealone{
    
    height: 500px;
   width: 400px;
}



#campcoolkids{
    
    height: 350px;
   width: 400px;
}


#goodburger{
    
    height: 500px;
   width: 400px;
}



#daddaycare{
    
    height: 500px;
   width: 400px;
}